<!DOCTYPE html>
<html>
    <head>
        <title>Hello</title>
    </head>


    <script>
        const userInfo = {
            id: "",
            name: ""
        }

        const getCookie = (name) => {
            const value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
            return value? value[2] : null;
        }

        const deleteCookie = (name) => {
            document.cookie = name + '=; expires=Thu, 01 Jan 1999 00:00:10 GMT;';
        }


        const init = () => {
            const token = getCookie("token")
            
            const payloadBase64 = token.split(".")[1];
            const payload = JSON.parse(decodeURIComponent(escape(atob(payloadBase64))));

            userInfo.id = payload.id;
            userInfo.name = payload.name;
            

            console.log(payload)

            if(userInfo.name) {
                document.getElementById("userName").innerText = ", "+userInfo.name;
            }
            
        }

        const logout = () => {
            deleteCookie("token");
            location.reload();
        }
    </script>

    <body onload="init()">
        <h1>Hello<span id="userName"></span></h1>

        <a href="/login">로그인</a>
        <a href="/join">회원가입</a>
        
        <button onClick="logout()">로그아웃</button>

    </body>
</html>